.sidebar {
    width: 250px;
    background-color: #222222;
    height: 100vh;
    border-right: 3px solid #444444;
}

.sidebar-title {
    color: #ccc;
    font-size: 32px;
    padding: 12px;
}

.sidebar-footer {
    position: absolute;
    bottom: 12px;
    padding: 12px 12px;
}

.sidebar-item {
    display: flex;
    width: 100%;
    background-color: #292929;
    height: 32px;
    align-items: center;
    padding: 24px 12px;
    font-size: 18px;
}

.sidebar-item a {
    text-decoration: none;
    color: #fff;
}

.sidebar-item a:hover {
    color: hsl(120, 14%, 55%);
}
